.root {
    
    --transition-duration: 0.2s;
    --transition-delay: 0.2s;
  }

.navigation-container ul li{
list-style: none;
}



/* contenedor navegacion */
.navigation-container{

    width: 100%;
     height: 7rem;

   position: relative;
    /* z-index: 2; */
  
}

/*contenedor de elementos de navegacion */
.navigation{
    display: flex;
    margin-left: 14rem;
}






/* contendor secciones de navegacion */
.navigation-sections{
    
    display: flex;
    width: 27rem;
    padding: 1rem;
    gap: 3rem;

}

/* boton navbar */
.navigation-button-navbar{
  display: none !important;
}





.navigation-sections li{
  display: flex;
  gap: .4rem;
  padding: .5rem;
}
.navigation-sections li:hover a{
  
color: rgba(255, 255, 255, 0.692);
}


/* iconos */
.icono-home{
  background-image: url("../../public/svg/home.svg");
}
.icono-movies{
  background-image: url("../../public/svg/movies.svg");
}

.icono-series{
  background-image: url("../../public/svg/series.svg");
}
.icono-others{
  background-image: url("../../public/svg/others.svg");
}


.icono-home,
.icono-movies,
.icono-series,
.icono-others{
  width: 1.875rem;
  height: 1.875rem;
}





/* enlaces */
.link{
    font-size: var(--titleLinkFont);
    font-weight: 500;
    color: white;
    text-decoration: none;
    text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
    position: relative;

}
.link::before,.active::before {
  content: " ";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height:3px;
  border-radius: 100px;
  background: var(--color-principal);
  z-index: 1;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.2s ease-in-out;
}

.active::before{
  transform: scaleX(1);
}

.link:hover::before {
  transform: scaleX(1);
}


/* ------------------------------ media querys ------------------------------ */
@media screen and (max-width:900px) {
  
  /* boton navbat */
  .navigation-button-navbar{
    display: inline-block !important;
  }
  
/*contenedor de elementos de navegacion */
  .navigation{
    justify-content: center;
    margin-left: 0;
    width: 100%;
    padding: 0;
}
/* contendor secciones de navegacion */
.navigation-sections{
  display: flex;
  width: 100%;
  padding: .6rem;
  gap: 1rem;

}
/* iconos */
.icono-home,
.icono-movies,
.icono-series,
.icono-others{
  width: 1.575rem;
}
/* enlaces */
.link{
  font-size: 1rem;  
}

.link::before,.active::before {

  bottom: 7px;
}

.navigation-sections li{
  display: flex;
  gap: .3rem;
  padding: .2rem;
}
}



@media screen and (max-width:480px) {
/*contenedor de elementos de navegacion */ 
  .navigation{

    justify-content:center;
  }
 /* enlaces */
  .link{
display: none;
  }
/* contendor secciones de navegacion */
  .navigation-sections {
   
    gap: 1rem;
    padding: .4rem;
  }
  /* iconos */
  .icono-home,
  .icono-movies,
  .icono-series,
  .icono-others{
    width: 2.1rem;
    height: 2.1rem;
  }

}