/* contenedor principal */
.container-sidebar{
width: 16rem;
height: 100%;
background:var(--fondo-sidebar);
position: fixed;
top: 0;
z-index: 1;
overflow: hidden;
}

/* contenedor logo */
.container-logo{
    margin-left: 2.7rem;
    margin-top: 4rem;
 }
 .icono-logo{
   width: 10rem;
   height: 3rem;
   background-image: url("../../public/svg/logo.svg");
 }
 @keyframes shake-bottom {
 
   0%,
   100% {
 
       transform: rotate(0deg);
 
       transform-origin: 50% 100%;
   }
 
   10% {
 
       transform: rotate(2deg);
   }
 
   20%,
   40%,
   60% {
 
       transform: rotate(-4deg);
   }
 
   30%,
   50%,
   70% {
 
       transform: rotate(4deg);
   }
 
   80% {
 
       transform: rotate(-2deg);
   }
 
   90% {
 
       transform: rotate(2deg);
   }
 }
 
 .icono-logo:hover {
 
   animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
 }
 
 
/* contenedor de elementos */
.sidebar-elements > ul{
   margin-top:2rem;
   padding: 0;
   margin-left: .7rem;
  
}


/* iconos */
.icono-about{
    background-image: url("../../public/svg/about.svg");
}
.icono-search{
    background-image: url("../../public/svg/search.svg");
    cursor: pointer;
}
.icono-category{
    background-image: url("../../public/svg/category.svg");
}

.icono-about,
.icono-search,
.icono-category{
    width: 1.875rem;
    height: 1.875rem;
    margin-left: .5rem;
   
}

/*contenedor de enlaces */
.sidebar-link,
.container-generos{
    font-size: var(--titleLinkFontSidebar);
    font-weight: 500;
    margin-bottom: 1.5rem;
    list-style: none;
    display: flex;
    padding: 1rem 0;
    gap: .4rem;
  border-left: 6px solid transparent;
  border-radius: 5px;
  transition: .5s all;
}


.sidebar-link:hover,
.container-generos:hover{
border-left: 6px solid var(--color-principal);
background: var(--fondo);
color: rgba(255, 255, 255, 0.692);
}



/* enlaces */
.genero a,.sidebar-link a {
text-decoration: none;
color: white;
position:relative;
transition: .5s all;
}

.genero a:hover,
 .sidebar-link a:hover{
color: rgba(255, 255, 255, 0.692);
}

/* barra de busqueda */
.sidebar-link input{
    width: 60%;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}


/* contenedor li generos */
.container-generos{
 list-style: none;
 display: flex;
 flex-direction: column; 
}

/* contenedor boton desplegar */
.genero-button{
    margin-bottom: .5rem;
    cursor: pointer;
    display:flex;
    gap:.4rem

}

/* contenedor lista generos */
.listGenero{
    list-style: none;
    overflow-y: auto;
    height: 20rem;
}
/* item genero individual */
.genero{
    margin-bottom: .5rem;
}



/* ------------------------------ media querys ------------------------------ */

@media screen and (max-width:900px) {
   /* contenedor canva */
    .container-offcanvas{
        width: 16rem;
    }
   
    /* contenedor principal */
    .container-sidebar{
      display:none     
}
/* contendor sidebar responsive */
.sidebar-responsive{
    display: block;
    left: 0;
    
}
/* container encabezado  */
.offcanvas-header{
   display: flex;
    z-index: 2;
  justify-content: flex-end;
    
}
/* logo */
.icono-logo{
    width:7rem
}

/* iconos */
.icono-about,
.icono-search,
.icono-category{
    width: 1.475rem;
    height: 1.475rem;
    margin-left: .5rem;
}

/*contenedor de enlaces */
.sidebar-link,
.container-generos{
 
   margin-bottom: 1.7rem;
 padding: .7rem 0;
    gap: .4rem;

 
}

}